{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/notifyreLogo2.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://kit.fontawesome.com/a54d2cbf95.js"></script>

    <title>Notifyre | Dashboard</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md" id="nav">
      <a href="{% url 'dashboard' %}" class="navbar-brand"><img src="{% static 'assets/notifyreLogo2.png' %}" alt="logo" height="60px" width="60px"></a>
      <div class="navbar-nav welcome">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link welcome">Hey {{ user.first_name }}</a></li>
        </ul>
      </div>
      <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target=".menu">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse nav menu">
        <ul class="navbar-nav nav-align">
          <li class="nav-item"><a href="#" class="nav-link" class="nav-link" data-toggle="modal" data-target="#profileModal">Profile</a></li>
          <li class="nav-item"><a href="#task" class="nav-link">Commands</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
          <li class="nav-item sign"><a href="{% url 'logout' %}" class="nav-link logout">Logout</a></li>
      </div>  
      </div>
    </nav>
    <div class="container mt-5" id="how">
      <div class="row">
        <div class="col-12 text-center how_head" data-aos="zoom-out">
          <h1>How it works?</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-center mb-5">
          <iframe src="https://www.youtube.com/embed/tTNPI9DMuag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="container add" id="task">
      <div class="row">
        <div class="col-12 text-center head">
          <h1>Commands</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="how-to mt-3">
            <li><p>Add the title of your task and use the description box to give the details.</p></li>
            <li><p>Use the <span class="add_btn">Add Task</span> button to add the task to the to-do list. Once you add the task, you will start getting an email every 1 hour reminding you about the same.</p></li>
            <li><p>Use the <span style="background-color: #17a2b8;border: 1px solid #17a2b8;" class="reset_btn">Reset Email</span> button to change your email.</p></li>
            <li><p>Use the <span class="update_btn">Update</span> button to edit your entry or to mark it as complete.</p></li>
            <li><p>Use the <span class="delete_btn">Delete</span> button to delete the entry from the list.</p></li>
            <li><p>Don't forget to turn on your mail notifications.</p></li>
            <li><p>If you don't receive a mail, then it means you have no pending or incomplete tasks.</p></li>

          </ul>
        </div>
      </div>
      <hr class="hr_manage">
      <div class="row">
        <div class="col-12">
          <form action="{% url 'add_task' %}" method="POST" class="form-container">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div class="form-group">
              <input type="text" name="title" class="form-control" placeholder="Title (only one word)" required>
            </div>
            <div class="form-group">
              <textarea name="description" id="" cols="30" rows="5" placeholder="Description" class="form-control" required></textarea>
            </div>
            <div class="form-row mb-3 ml-1">
                <div class="custom-control custom-switch">
                  <input type="checkbox" name="checker" class="custom-control-input" id="important" value="True">
                  <label class="custom-control-label" for="important"><strong>Important</strong></label>
                </div>
            </div>
            <div class="form-row justify-content-between">
              <div class="form-group ml-1">
                <button type="submit" class="btn btn-success">Add Task</button>
              </div>  
            </div>
            <div class="form-check ml-1">
              <input class="form-check-input" type="checkbox" value="" id="impMail">
              <label class="form-check-label" for="impMail">Send mails for <strong>Important </strong>tasks only.</label>
            </div>
            </form>
            </div>              
        </div>
      
      <hr class="hr_manage">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <center><h1>Current Tasks</h1></center>
        </div>
      </div>
      {% if tasks %}
          {% for task in tasks %}
              <div class="row justify-content-center">
                <div class="col-10 task_display mb-5 mt-4">
                  <div class="row">
                    <div class="col-12 text-right">
                      {% if task.is_important == True %}
                        <small><b>[Important]</b></small>
                        <small>Added on:  {{ task.creation_date }}</small>
                      {% else %}
                        <small>Added on:  {{ task.creation_date }}</small>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      {% if task.is_important == True %}
                        {% if task.task_status == True %}
                          <strike><h4>{{ task.title }}</h4></strike>
                        {% else %}
                          <h4>{{ task.title }}</h4>
                        {% endif %}
                      {% else %}
                        {% if task.task_status == True %}
                          <strike><h4>{{ task.title }}</h4></strike>
                        {% else %}
                          <h4>{{ task.title }}</h4>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  <hr class="hr-manage">
                  <div class="row">
                    <div class="col-12">
                      {% if task.task_status == True %}
                        <strike><p>{{ task.description }}</p></strike>
                      {% else %}
                        <p>{{ task.description }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-2 col-md-1">
                        <form method="POST" action="{% url 'update_task' %}">
                          {% csrf_token %}
                          <input type="hidden" name="task_id" value="{{ task.id }}">
                          <button type="submit" class="btn btn-warning">Update</button>
                        </form>
                    </div>
                    <div class="col-2 col-md-1">
                      <form method="POST" action="{% url 'delete_task' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button type="submit" class="btn btn-danger delete">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
      {% else %}
      <div class="row justify-content-center">
        <div class="col-10 task_display mb-5 mt-4">
          <div class="row">
            <div class="col-12">
              <h4>Title</h4>
            </div>
          </div>
          <hr class="hr-manage">
          <div class="row">
            <div class="col-12">
              <p>No tasks added yet</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 col-md-1">
              <button type="button" class="btn btn-warning">Update</button>
            </div>
            <div class="col-2 col-md-1">
              <button type="button" class="btn btn-danger delete">Delete</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    </div>
      <div class="container-fluid contact" id="contact">
        <div class="row">
          <div class="col-md-12 text-center contact_head"  data-aos="fade-up">
            <h1>Contact Us</h1>
          </div>
          <div class="container mt-5">
            <div class="row align-items-center">
              <div class="col-md-4 text-center mb-5"  data-aos="fade-up"
              data-aos-duration="1500">
                <a href="mailto:techshell.noreply@gmail.com"><i class="fa fa-2x fa-envelope icon"></i></a>
                <p class="contact_text">techshell.noreply@gmail.com</p>
              </div>
              <div class="col-md-4 text-center mb-5"  data-aos="fade-up"
              data-aos-duration="1500">
                <a href="https://www.instagram.com/tech.shell/" target="_blank"><i class="fab fa-3x fa-instagram icon mb-1"></i></a>
                <p class="contact_text">tech.shell</p>
              </div>
              <div class="col-md-4 text-center mb-5"  data-aos="fade-up"
              data-aos-duration="1500">
                <i class="fas fa-2x fa-map-marker-alt icon"></i>
                <p class="contact_text">Gurugram, 122001</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
      </a>



      <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Profile</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-6"><h6>Name: </h6></div>
                <div class="col-6">Vaibhav</div>
              </div>
              <div class="row">
                <div class="col-6"><h6>Email/Username: </h6></div>
                <div class="col-6">temp123@gmail.com</div>
              </div>
              <div class="row">
                <div class="col-6"><h6>Phone Number: </h6></div>
                <div class="col-6">1234567890</div>
              </div>
              <div class="row">
                <div class="col-6"><h6>Current Tasks: </h6></div>
                <div class="col-6">5</div>
              </div>
              <div class="row">
                <div class="col-6"><h6>Important Tasks: </h6></div>
                <div class="col-6">3</div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <form method="POST" action="{% url 'reset_email' %}">
                {% csrf_token %}
                <input type="hidden" name="user_email" value="{{ user.username }}">
                <button type="submit" class="btn btn-info">Reset Email</button>
              </form>
              <button type="button" class="btn btn-primary">Change Password</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/to-top.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration : 1000,
      });

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
